h1{
    font-size: 30px;
    color: rgb(231, 85, 0);
    text-align: center;
}

.red{
    font-size: 25px;
    color: rgb(79, 119, 33);
    text-align: center;
}

#first{
    display: inline-block;
    border: 2px solid blue;
    padding: 30px 10px;
    margin: 100px 0px;
}

#third{
    font-size: 100px;
    padding: 10px 10px;
}

.container{
    border: 5px black solid;
    background-color: white;
    padding: 30px;
    text-align: center;
}

.picture_con{
    border: transparent;
    padding: 30px;
    text-align: center;
}

.picture{
    width: 500px;
    height: 350px;
}

body{
    background-image: url(Autumn.jpg);
}